<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Content-language" content="en" />
  <title>
    {% if head and head.title %} 
      {{ head.title }} 
    {% else %} 
      Page 
    {% endif %}
    - Example.com
  </title>
  
  <link type="text/css" rel="stylesheet" href="/stylesheets/public/application.css" />
  
  {% if head and head.stylesheets %}
    {% for stylesheet in head.stylesheets %}
      <link type="text/css" rel="stylesheet" href="/stylesheets/{{ stylesheet }}.css" /> 
    {% endfor %}
  {% endif %}
</head> 
<body>
  <div id="header">
    
    <div class="login">
    {% if current_user %}
      <div>Welcome, {{ current_user.first_name }} {{ current_user.last_name }} ~ <a href="/logout">Logout</a></div>
    {% else %}
      <div><a href="/login">Login!</a></div>
    {% endif %}
    </div>
    
      <div class="logo"><a href="/">Example.com</a></div>
  </div>
  
  <div id="content">
  {% if body and body.main %}
    {{ body.main }}
  {% endif %}
  </div>

  <div id="footer">
    Copyright &copy; 2010 Example.com.
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  {% if body and body.javascripts %}
    {% for javascript in body.javascripts %}
      <script type="text/javascript" src="/javascripts/{{ javascript }}.js"></script> 
    {% endfor %}
  {% endif %}
</body>
</html>